@* File: TourManagementSystem/Views/Home/Index.cshtml *@
@model TourManagementSystem.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var defaultImageUrl = Url.Content("~/images/default_offer.jpg"); // Default image if specific one not found
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
@inject Microsoft.Extensions.Logging.ILogger<Program> Logger // Or ILogger<YourSpecificPageModelOrController>

    <!-- Home Slider -->
    <div class="home">
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">
                <!-- Slider Item 1 -->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(@Url.Content("~/images/home_slider_1.jpg"))"></div>
                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                            <h1>discover</h1><h1>the world</h1>
                            <div class="button home_slider_button"><div class="button_bcg"></div><a asp-controller="Offers" asp-action="Index">explore now<span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>
                <!-- Slider Item 2 -->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(@Url.Content("~/images/home_slider_2.jpg"))"></div>
                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                            <h1>discover</h1><h1>new places</h1>
                            <div class="button home_slider_button"><div class="button_bcg"></div><a asp-controller="Offers" asp-action="Index">explore now<span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>
                <!-- Slider Item 3 -->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(@Url.Content("~/images/home_slider_3.jpg"))"></div>
                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                            <h1>discover</h1><h1>your adventure</h1>
                            <div class="button home_slider_button"><div class="button_bcg"></div><a asp-controller="Offers" asp-action="Index">explore now<span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Home Slider Nav -->
            <div class="home_slider_nav home_slider_prev"> <svg version="1.1" id="Layer_2_prev_home_final" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve"> <defs><linearGradient id='home_grad_prev_dot_home_final'><stop offset='0%' stop-color='#fa9e1b' /><stop offset='100%' stop-color='#8d4fff' /></linearGradient></defs> <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571 C22.545,2,26,5.541,26,9.909V23.091z" /><polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 11.042,18.219 " /></svg> </div>
            <div class="home_slider_nav home_slider_next"> <svg version="1.1" id="Layer_3_next_home_final" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve"> <defs><linearGradient id='home_grad_next_dot_home_final'><stop offset='0%' stop-color='#fa9e1b' /><stop offset='100%' stop-color='#8d4fff' /></linearGradient></defs> <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571 C22.545,2,26,5.541,26,9.909V23.091z" /><polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 17.046,15.554 " /></svg> </div>
            <!-- Home Slider Dots -->
            <div class="home_slider_dots"> <ul id="home_slider_custom_dots_final" class="home_slider_custom_dots"> <li class="home_slider_custom_dot active"><div></div>01.</li> <li class="home_slider_custom_dot"><div></div>02.</li> <li class="home_slider_custom_dot"><div></div>03.</li> </ul> </div>
        </div>
    </div>

    <!-- Search -->
    <div class="search">
        <div class="container fill_height">
            <div class="row fill_height">
                <div class="col fill_height">
                    <div class="search_tabs_container">
                        <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/images/suitcase.png" alt="Hotels"><span>hotels</span></div>
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/images/bus.png" alt="Car Rentals">car rentals</div>
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/images/departure.png" alt="Flights">flights</div>
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/images/island.png" alt="Trips">trips</div>
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/images/cruise.png" alt="Cruises">cruises</div>
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/images/diving.png" alt="Activities">activities</div>
                        </div>
                    </div>

                    <!-- Hotel Search Panel -->
                    <div class="search_panel active">
                        <form asp-controller="Home" asp-action="SearchOffers" method="get" id="search_form_hotels_home" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <input type="hidden" name="entityType" value="Hotels" />
                            <div class="search_item"><div>Destination</div><input type="text" name="destination" class="destination search_input" placeholder="e.g. Paris"></div>
                            <div class="search_item"><div>Hotel Name (Opt.)</div><input type="text" name="hotelName" class="search_input" placeholder="e.g. Grand Hotel"></div>
                            <div class="search_item"><div>Check-in</div> <input type="date" name="checkInDate" class="search_input"></div>
                            <div class="search_item"><div>Check-out</div><input type="date" name="checkOutDate" class="search_input"></div>
                            <div class="search_item"><div>Min. Rating</div><select name="minRating" class="dropdown_item_select search_input"><option value="">Any</option><option value="1">1+</option><option value="2">2+</option><option value="3">3+</option><option value="4">4+</option><option value="5">5</option></select></div>
                            <div class="search_item"><div>Max. Price/Night</div><input type="number" name="maxPrice" class="search_input" placeholder="e.g. 200" min="0" step="10"></div>
                            <button type="submit" class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>
                    <!-- Car Rentals Search Panel -->
                    <div class="search_panel">
                        <form asp-controller="Home" asp-action="SearchOffers" method="get" id="search_form_carrentals_home" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <input type="hidden" name="entityType" value="CarRentals" />
                            <div class="search_item"><div>Pickup Location</div><input type="text" name="location" class="destination search_input" placeholder="City, Airport"></div>
                            <div class="search_item"><div>Pickup Date</div><input type="date" name="pickupDate" class="check_in search_input"></div>
                            <div class="search_item"><div>Return Date</div><input type="date" name="carRentalReturnDate" class="check_out search_input"></div>
                            <div class="search_item"><div>Car Model (Opt.)</div><input type="text" name="carModelKeyword" class="search_input" placeholder="e.g. SUV"></div>
                            <button type="submit" class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>
                    <!-- Flights Search Panel -->
                    <div class="search_panel">
                        <form asp-controller="Home" asp-action="SearchOffers" method="get" id="search_form_flights_home" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <input type="hidden" name="entityType" value="Flights" />
                            <div class="search_item"><div>From</div><input type="text" name="origin" class="search_input" placeholder="Origin City/Airport"></div>
                            <div class="search_item"><div>To</div><input type="text" name="flightDestination" class="search_input" placeholder="Destination City/Airport"></div>
                            <div class="search_item"><div>Departure Date</div><input type="date" name="departureDate" class="search_input"></div>
                            <div class="search_item"><div>Return Date (Opt.)</div><input type="date" name="returnDate" class="search_input"></div>
                            <div class="search_item"><div>Passengers</div><input type="number" name="passengers" class="search_input" min="1" value="1"></div>
                            <button type="submit" class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>
                    <!-- Trips Search Panel -->
                    <div class="search_panel">
                        <form asp-controller="Home" asp-action="SearchOffers" method="get" id="search_form_trips_home" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <input type="hidden" name="entityType" value="Trips" />
                            <div class="search_item"><div>Destination/Keyword</div><input type="text" name="tripSearchTerm" class="search_input" placeholder="e.g., Italy Tour"></div>
                            <div class="search_item"><div>Start Date</div><input type="date" name="startDate" class="search_input"></div>
                            <div class="search_item"><div>Travelers</div><input type="number" name="travelers" class="search_input" min="1" value="1"></div>
                            <button type="submit" class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>
                    <!-- Cruises Search Panel -->
                    <div class="search_panel">
                        <form asp-controller="Home" asp-action="SearchOffers" method="get" id="search_form_cruises_home" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <input type="hidden" name="entityType" value="Cruises" />
                            <div class="search_item"><div>Destination Region</div><input type="text" name="cruiseSearchTerm" class="search_input" placeholder="e.g., Caribbean"></div>
                            <div class="search_item"><div>Departure Month</div><input type="month" name="departureMonth" class="search_input"></div>
                            <button type="submit" class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>
                    <!-- Activities Search Panel -->
                    <div class="search_panel">
                        <form asp-controller="Home" asp-action="SearchOffers" method="get" id="search_form_activities_home" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <input type="hidden" name="entityType" value="Activities" />
                            <div class="search_item"><div>Activity/Location</div><input type="text" name="activitySearchTerm" class="search_input" placeholder="e.g., Louvre Ticket"></div>
                            <div class="search_item"><div>Date</div><input type="date" name="activityDate" class="search_input"></div>
                            <div class="search_item"><div>Participants</div><input type="number" name="participants" class="search_input" min="1" value="1"></div>
                            <button type="submit" class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Intro -->
    <div class="intro">
        <div class="container">
            <div class="row"><div class="col"><h2 class="intro_title text-center">We have the best tours</h2></div></div>
            <div class="row"><div class="col-lg-10 offset-lg-1"><div class="intro_text text-center"><p>Discover breathtaking destinations, immersive cultural experiences, and unforgettable adventures. Whether you're seeking a relaxing getaway or an action-packed trip, we offer tailor-made tours to suit your preferences.</p></div></div></div>
            <div class="row intro_items">
            @if (Model != null && Model.IntroTours.Any())
            {
                int introCounter = 1;
                foreach (var tour in Model.IntroTours.Take(3))
                {
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item">
                                <div class="intro_item_overlay"></div>
                            @{
                                var tourImageRelativePath = "";
                                if (!string.IsNullOrEmpty(tour.PrimaryImageUrl)) { tourImageRelativePath = tour.PrimaryImageUrl.TrimStart('~').TrimStart('/'); }
                                else { tourImageRelativePath = $"images/intro_{introCounter}.jpg"; }

                                var tourImageFullPath = "";
                                var tourImageUrl = defaultImageUrl; // Initialize with default

                                if (!string.IsNullOrEmpty(tourImageRelativePath))
                                {
                                    // Ensure WebRootPath is not null before combining
                                    if (!string.IsNullOrEmpty(WebHostEnvironment.WebRootPath))
                                    {
                                        tourImageFullPath = System.IO.Path.Combine(WebHostEnvironment.WebRootPath, tourImageRelativePath.Replace('/', System.IO.Path.DirectorySeparatorChar));
                                        if (System.IO.File.Exists(tourImageFullPath))
                                        {
                                            tourImageUrl = Url.Content("~/" + tourImageRelativePath);
                                        }
                                        else
                                        {
                                            Logger.LogWarning("Intro image not found at physical path: {Path}. Using default.", tourImageFullPath);
                                        }
                                    }
                                    else
                                    {
                                        Logger.LogWarning("WebHostEnvironment.WebRootPath is null. Cannot verify intro image. Using default for tour: {TourName}", tour.Name);
                                    }
                                }
                                else
                                {
                                    Logger.LogWarning("Intro image relative path was empty for tour: {TourName}. Using default.", tour.Name);
                                }
                                introCounter++;
                            }
                                <div class="intro_item_background" style="background-image:url('@tourImageUrl')"></div>
                                <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                                    <div class="intro_date">@* May 25th - June 01st (Placeholder, use tour.DateRange if available) *@</div>
                                    <div class="button intro_button"><div class="button_bcg"></div><a asp-controller="Offers" asp-action="Details" asp-route-id="@tour.Id" asp-route-entityType="Hotels">see more<span></span><span></span><span></span></a></div>
                                    <div class="intro_center text-center">
                                        <h1>@tour.Name</h1>
                                        <div class="intro_price">From @tour.PricePerNight.ToString("C0")</div>
                                        <div class="rating rating_@(tour.Rating > 0 ? tour.Rating : 3)">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <i class="fa @(i < tour.Rating ? "fa-star" : "fa-star-o")"></i>
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            }
            else
            {
                <div class="col-12 text-center"><p>No featured tours to display right now.</p></div>
            }
            </div>
        </div>
    </div>

    <!-- CTA -->
    <div class="cta">
        <div class="cta_background" style="background-image:url(@Url.Content("~/images/cta.jpg"))"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="cta_slider_container">
                        <div class="owl-carousel owl-theme cta_slider">
                        @if (Model != null && Model.CtaOffers.Any())
                        {
                            foreach (var offer in Model.CtaOffers)
                            {
                                    <div class="owl-item cta_item text-center">
                                        <div class="cta_title">@offer.Name Package</div>
                                        <div class="rating_r rating_r_@(offer.Rating > 0 ? offer.Rating : 4)">@for (int i = 0; i < 5; i++)
                                        {
                                            <i></i>
                                        }</div>
                                    @{
                                        var ctaDesc = !string.IsNullOrEmpty(offer.Description) && offer.Description.Length > 150 ? offer.Description.Substring(0, 150) + "..." : (offer.Description ?? "An amazing offer awaits!");
                                    }
                                        <p class="cta_text">@Html.Raw(ctaDesc?.Replace("\n", "<br />"))</p>
                                        <div class="button cta_button"><div class="button_bcg"></div><a asp-controller="Offers" asp-action="Details" asp-route-id="@offer.Id" asp-route-entityType="Hotels">Book Now<span></span><span></span><span></span></a></div>
                                    </div>
                            }
                        }
                        else
                        {
                                <div class="owl-item cta_item text-center"> <div class="cta_title">Explore Our Packages</div> <div class="rating_r rating_r_5"><i></i><i></i><i></i><i></i><i></i></div> <p class="cta_text">Discover breathtaking destinations and unforgettable adventures tailored just for you. Book your dream vacation today!</p> <div class="button cta_button"><div class="button_bcg"></div><a asp-controller="Offers" asp-action="Index">Browse Offers<span></span><span></span><span></span></a></div> </div>
                        }
                        </div>
                        <div class="cta_slider_nav cta_slider_prev"> <svg version="1.1" id="Layer_4_cta_prev_final" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve"> <defs><linearGradient id='cta_grad_prev_dot_final'><stop offset='0%' stop-color='#fa9e1b' /><stop offset='100%' stop-color='#8d4fff' /></linearGradient></defs> <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571 C22.545,2,26,5.541,26,9.909V23.091z" /> <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 11.042,18.219 " /> </svg> </div>
                        <div class="cta_slider_nav cta_slider_next"> <svg version="1.1" id="Layer_5_cta_next_final" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve"> <defs><linearGradient id='cta_grad_next_dot_final'><stop offset='0%' stop-color='#fa9e1b' /><stop offset='100%' stop-color='#8d4fff' /></linearGradient></defs> <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571 C22.545,2,26,5.541,26,9.909V23.091z" /> <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 17.046,15.554 " /> </svg> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Offers -->
    <div class="offers">
        <div class="container">
            <div class="row"><div class="col text-center"><h2 class="section_title">the best offers with rooms</h2></div></div>
            <div class="row offers_items">
            @if (Model != null && Model.BestRoomOffers.Any())
            {
                int roomOfferCounter = 1;
                foreach (var offer in Model.BestRoomOffers.Take(4))
                {
                        <div class="col-lg-6 offers_col">
                            <div class="offers_item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="offers_image_container">
                                        @{
                                            var roomOfferImageRelativePath = "";
                                            if (!string.IsNullOrEmpty(offer.PrimaryImageUrl)) { roomOfferImageRelativePath = offer.PrimaryImageUrl.TrimStart('~').TrimStart('/'); }
                                            else { roomOfferImageRelativePath = $"images/offer_{roomOfferCounter}.jpg"; }

                                            var roomOfferImageFullPath = "";
                                            var roomOfferImageUrl = defaultImageUrl; // Initialize with default

                                            if (!string.IsNullOrEmpty(roomOfferImageRelativePath))
                                            {
                                                if (!string.IsNullOrEmpty(WebHostEnvironment.WebRootPath))
                                                {
                                                    roomOfferImageFullPath = System.IO.Path.Combine(WebHostEnvironment.WebRootPath, roomOfferImageRelativePath.Replace('/', System.IO.Path.DirectorySeparatorChar));
                                                    if (System.IO.File.Exists(roomOfferImageFullPath)) { roomOfferImageUrl = Url.Content("~/" + roomOfferImageRelativePath); }
                                                    else { Logger.LogWarning("Best room offer image not found: {Path}. Using default.", roomOfferImageFullPath); }
                                                }
                                                else
                                                {
                                                    Logger.LogWarning("WebHostEnvironment.WebRootPath is null. Cannot verify best room offer image. Using default for offer: {OfferName}", offer.Name);
                                                }
                                            }
                                            else { Logger.LogWarning("Best room offer image relative path was empty for offer: {OfferName}. Using default.", offer.Name); }
                                            roomOfferCounter++;
                                        }
                                            <div class="offers_image_background" style="background-image:url('@roomOfferImageUrl')"></div>
                                            <div class="offer_name"><a asp-controller="Offers" asp-action="Details" asp-route-id="@offer.Id" asp-route-entityType="Hotels">@offer.Name</a></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="offers_content">
                                            <div class="offers_price">@offer.PricePerNight.ToString("C0")<span>per night</span></div>
                                            <div class="rating_r rating_r_@(offer.Rating > 0 ? offer.Rating : 3) offers_rating">@for (int i = 0; i < 5; i++)
                                            {
                                                <i></i>
                                            }</div>
                                        @{
                                            var offerDesc = !string.IsNullOrEmpty(offer.Description) && offer.Description.Length > 120 ? offer.Description.Substring(0, 120) + "..." : (offer.Description ?? "An excellent choice.");
                                        }
                                            <p class="offers_text">@Html.Raw(offerDesc?.Replace("\n", "<br />"))</p>
                                            <div class="offers_icons"><ul class="offers_icons_list"><li class="offers_icons_item"><img src="~/images/post.png" alt=""></li><li class="offers_icons_item"><img src="~/images/compass.png" alt=""></li><li class="offers_icons_item"><img src="~/images/bicycle.png" alt=""></li><li class="offers_icons_item"><img src="~/images/sailboat.png" alt=""></li></ul></div>
                                            <div class="offers_link"><a asp-controller="Offers" asp-action="Details" asp-route-id="@offer.Id" asp-route-entityType="Hotels">read more</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            }
            else
            {
                <div class="col-12 text-center"><p>No special room offers available right now.</p></div>
            }
            </div>
        </div>
    </div>

    <!-- Testimonials -->
    <div class="testimonials">
        <div class="test_border"></div>
        <div class="container">
            <div class="row"><div class="col text-center"><h2 class="section_title">what our clients say about us</h2></div></div>
            <div class="row">
                <div class="col">
                    <div class="test_slider_container">
                        <div class="owl-carousel owl-theme test_slider">
                            <!-- Testimonial Item 1 -->
                            <div class="owl-item"><div class="test_item"><div class="test_image"><img src="@Url.Content("~/images/test_1.jpg")" alt="Testimonial 1"></div><div class="test_icon"><img src="@Url.Content("~/images/backpack.png")" alt=""></div><div class="test_content_container"><div class="test_content"><div class="test_item_info"><div class="test_name">The Johnson Family</div><div class="test_date">July 12, 2018</div></div><div class="test_quote_title">" Best holiday ever "</div><p class="test_quote_text">An unforgettable experience! The itinerary was perfectly planned, and every destination was breathtaking. Highly recommend!</p></div></div></div></div>
                            <!-- Testimonial Item 2 -->
                            <div class="owl-item"><div class="test_item"><div class="test_image"><img src="@Url.Content("~/images/test_2.jpg")" alt="Testimonial 2"></div><div class="test_icon"><img src="@Url.Content("~/images/island_t.png")" alt=""></div><div class="test_content_container"><div class="test_content"><div class="test_item_info"><div class="test_name">Lily Smith</div><div class="test_date">July 7, 2017</div></div><div class="test_quote_title">" Full of adventures! "</div><p class="test_quote_text">Everything was seamless from start to finish. The guides were knowledgeable, and the accommodations were top-notch. Can't wait for my next trip!</p></div></div></div></div>
                            <!-- Testimonial Item 3 -->
                            <div class="owl-item"><div class="test_item"><div class="test_image"><img src="@Url.Content("~/images/test_3.jpg")" alt="Testimonial 3"></div><div class="test_icon"><img src="@Url.Content("~/images/kayak.png")" alt=""></div><div class="test_content_container"><div class="test_content"><div class="test_item_info"><div class="test_name">Daniel Johnson</div><div class="test_date">May 27, 2019</div></div><div class="test_quote_title">" Incredible journey! "</div><p class="test_quote_text">A truly magical journey! The service was exceptional, and I discovered places I never imagined visiting. A five-star experience!</p></div></div></div></div>
                        </div>
                        <div class="test_slider_nav test_slider_prev"> <svg version="1.1" id="Layer_6_test_prev_final" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve"> <defs><linearGradient id='test_grad_prev_dot_final'><stop offset='0%' stop-color='#fa9e1b' /><stop offset='100%' stop-color='#8d4fff' /></linearGradient></defs> <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571 C22.545,2,26,5.541,26,9.909V23.091z" /> <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 11.042,18.219 " /> </svg> </div>
                        <div class="test_slider_nav test_slider_next"> <svg version="1.1" id="Layer_7_test_next_final" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve"> <defs><linearGradient id='test_grad_next_dot_final'><stop offset='0%' stop-color='#fa9e1b' /><stop offset='100%' stop-color='#8d4fff' /></linearGradient></defs> <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571 C22.545,2,26,5.541,26,9.909V23.091z" /> <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 17.046,15.554 " /> </svg> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Trending -->
    <div class="trending">
        <div class="container">
            <div class="row"><div class="col text-center"><h2 class="section_title">trending now</h2></div></div>
            <div class="row trending_container">
            @if (Model != null && Model.TrendingNowOffers.Any())
            {
                int trendingCounter = 1;
                foreach (var trend in Model.TrendingNowOffers.Take(8))
                { // Take up to 8 items
                        <div class="col-lg-3 col-sm-6">
                            <div class="trending_item clearfix">
                            @{
                                var trendingImageRelativePath = "";
                                if (!string.IsNullOrEmpty(trend.PrimaryImageUrl)) { trendingImageRelativePath = trend.PrimaryImageUrl.TrimStart('~').TrimStart('/'); }
                                else { trendingImageRelativePath = $"images/trend_{trendingCounter}.png"; } // Assuming .png for trends

                                var trendingImageFullPath = "";
                                var trendingImageUrl = defaultImageUrl; // Initialize with default

                                if (!string.IsNullOrEmpty(trendingImageRelativePath))
                                {
                                    if (!string.IsNullOrEmpty(WebHostEnvironment.WebRootPath))
                                    {
                                        trendingImageFullPath = System.IO.Path.Combine(WebHostEnvironment.WebRootPath, trendingImageRelativePath.Replace('/', System.IO.Path.DirectorySeparatorChar));
                                        if (System.IO.File.Exists(trendingImageFullPath)) { trendingImageUrl = Url.Content("~/" + trendingImageRelativePath); }
                                        else { Logger.LogWarning("Trending image not found: {Path}. Using default.", trendingImageFullPath); }
                                    }
                                    else
                                    {
                                        Logger.LogWarning("WebHostEnvironment.WebRootPath is null. Cannot verify trending image. Using default for trend: {TrendName}", trend.Name);
                                    }
                                }
                                else { Logger.LogWarning("Trending image relative path was empty for trend: {TrendName}. Using default.", trend.Name); }
                                trendingCounter++;
                            }
                                <div class="trending_image"><img src="@trendingImageUrl" alt="@trend.Name"></div>
                                <div class="trending_content">
                                    <div class="trending_title"><a asp-controller="Offers" asp-action="Details" asp-route-id="@trend.Id" asp-route-entityType="Hotels">@trend.Name</a></div>
                                    <div class="trending_price">From @trend.PricePerNight.ToString("C0")</div>
                                    <div class="trending_location">@trend.Destination</div>
                                </div>
                            </div>
                        </div>
                }
            }
            else
            {
                <div class="col-12 text-center"><p>Check back soon for trending offers!</p></div>
            }
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div class="contact">
        <div class="contact_background" style="background-image:url(@Url.Content("~/images/contact.png"))"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact_image">
                    @* Optionally, add an image here if your design has one inside .contact_image *@
                    @* <img src="@Url.Content("~/images/contact_person.png")" alt="Contact Person"> *@
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="contact_form_container">
                        <div class="contact_title">get in touch</div>
                        <form action="#" id="contact_form" class="contact_form">
                            <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Name" required="required" data-error="Name is required.">
                            <input type="email" id="contact_form_email" class="contact_form_email input_field" placeholder="E-mail" required="required" data-error="Email is required.">
                            <input type="text" id="contact_form_subject" class="contact_form_subject input_field" placeholder="Subject" required="required" data-error="Subject is required.">
                            <textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                            <button type="submit" id="form_submit_button" class="form_submit_button button">send message<span></span><span></span><span></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
        <script>
            // Any Home page specific JavaScript initializations can go here.
            // For example, if date pickers were used on the home page search forms via JavaScript:
            // $(document).ready(function() {
            // if ($.fn.datepicker) { // Check if jQuery UI datepicker is loaded
            //         $('.search_panel input[type="date"].search_input').datepicker({
            //             dateFormat: "yy-mm-dd",
            //             changeMonth: true,
            //             changeYear: true
            //         });
            //     }
            // });
            // The OwlCarousel initializations are typically handled by your global custom.js
            // which is included in _Layout.cshtml.
        </script>
}
